.screen {
    max-width: 600px;
    margin: 0px auto;
    font-family: "Poppins";
    border: 10px solid black;
    border-bottom: 50px solid black;
    border-radius: 10px;
}

.body_header {
    background-color: rgb(204, 184, 71);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.body_header .settings {
    order: 3;
}

.body_header h1 {
    font-size: 40px;
    margin: 0px;
}

.nav_button {
    border: 0px;
    background-color: rgb(255,255,255, 0.5);
    font-size: 20px;
    padding: 6px;
}

.nav_button:hover {
    transform: scale(1.2);
    transition-duration: 0.2s;
}

.scroll_container {
    padding: 15px;
    overflow-y: scroll;
    height: 500px;
}

.body_footer {
    display: flex;
    height: 100px;
    background-color: rgb(204, 184, 71);
}

.footer_button {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 2px solid rgb(173, 136, 11);
}

.footer_button:first-of-type {
    border-left: 0px;
}

.footer_button:hover {
    border-bottom: 10px solid rgb(173, 136, 11);
    transition-duration: 0.3s;
}

.button_label {
    display: flex;
    align-items: center;
    flex-direction: column;
}

